<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <!--Fonte Geologica sans-serif-->
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Geologica:wght@100;300;400;500;700;900&display=swap" rel="stylesheet">
    <!--
    <link href="stylesheets/styleHome.css" type="text/css" rel="stylesheet">
    -->
    <link href="stylesheets/styleHome.css" type="text/css" rel="stylesheet">
    <title>Login</title>
</head>
<body>
    <div class = "application" id = "ap">
        <div class = "container" id ="menu">
            <img id = "user-logo" src="assets/icon.png" alt="" srcset="">
            <h4 id ="username">Not Found</h3>
            <div class = "nav-bar">
                <div class="nav-element active" id="n1">
                    <img class = "nav-logo" for="pg1" src="" alt="" srcset="assets/icons8-buy-96.png">
                    <a id="pg1">Produtos</a>
                </div>
                <div class="nav-element" id="n2">
                    <img class = "nav-logo" for="pg2" src="" alt="" srcset="assets/icons8-categorize-96.png">
                    <a id="pg2">Categorias</a>
                </div>
                <div class="nav-element" id="n3">
                    <img class = "nav-logo" for="pg3" src="" alt="" srcset="assets/icons8-supplier-96.png">
                    <a id="pg3">Fornecedores</a>
                </div>
            </div>
            
            <div class="nav-element" id="log-out">
                <img class = "nav-logo" id="logout-logo" src="" alt="" srcset="assets/icons8-log-out-96.png">
                <a id="logout">Log out</a>
            </div>
        </div>
        <div class = "space-between">
            <svg class = "line" width="1" height="400">
                <line x1="0" y1="0" x2="0" y2="400" stroke="#9e9e9e" stroke-width="1"/>
              </svg>
        </div>
        <div class = "container" id ="content">
            <div id = "erro-mensagem">
                <p id = "erro-mensagem-text">Produtos indisponíveis</p>
            </div>
            <!--
            <h2 id ='title'>Produtos</h2>
            -->
            <h2 id ="title">Produtos</h2>
            <div class = "list-prod">
                <div class="prod" id="1">
                    <h3 class = "prod-t">Calças</h3>
                    <h4 class = "prod-q">Disponível: 10 un.</h4>
                    <h4 class = "prod-p">R$ 150.00</h4>
                    <button class = 'buy' id="b-1" type="button">Buy</button>
                </div>
                <div class="prod" id="2">
                    <h3 class = "prod-t">Calças</h3>
                    <h4 class = "prod-q">Disponível: 10 un.</h4>
                    <h4 class = "prod-p">R$ 150.00</h4>
                    <button class = 'buy' id="b-2" type="button">Buy</button>
                </div>
                <div class="prod" id="3">
                    <h3 class = "prod-t">Calças</h3>
                    <h4 class = "prod-q">Disponível: 10 un.</h4>
                    <h4 class = "prod-p">R$ 150.00</h4>
                    <button class = 'buy' id="b-3" type="button">Buy</button>
                </div>
                <div class="prod" id="4">
                    <h3 class = "prod-t">Calças</h3>
                    <h4 class = "prod-q">Disponível: 10 un.</h4>
                    <h4 class = "prod-p">R$ 150.00</h4>
                    <button class = 'buy' id="b-4" type="button">Buy</button>
                </div>
                <div class="prod" id="5">
                    <h3 class = "prod-t">Calças</h3>
                    <h4 class = "prod-q">Disponível: 10 un.</h4>
                    <h4 class = "prod-p">R$ 150.00</h4>
                    <button class = 'buy' id="b-5" type="button">Buy</button>
                </div>
                <div class="prod" id="6">
                    <h3 class = "prod-t">Calças</h3>
                    <h4 class = "prod-q">Disponível: 10 un.</h4>
                    <h4 class = "prod-p">R$ 150.00</h4>
                    <button class = 'buy' id="b-6" type="button">Buy</button>
                </div>
                <div class="prod" id="7">
                    <h3 class = "prod-t">Calças</h3>
                    <h4 class = "prod-q">Disponível: 10 un.</h4>
                    <h4 class = "prod-p">R$ 150.00</h4>
                    <button class = 'buy' id="b-7" type="button">Buy</button>
                </div>
                <div class="prod" id="8">
                    <h3 class = "prod-t">Calças</h3>
                    <h4 class = "prod-q">Disponível: 10 un.</h4>
                    <h4 class = "prod-p">R$ 150.00</h4>
                    <button class = 'buy' id="b-8" type="button">Buy</button>
                </div>
                <div class="prod" id="9">
                    <h3 class = "prod-t">Calças</h3>
                    <h4 class = "prod-q">Disponível: 10 un.</h4>
                    <h4 class = "prod-p">R$ 150.00</h4>
                    <button class = 'buy' id="b-9" type="button">Buy</button>
                </div>
            </div>
        </div>
    </div>
<!--
    <script src="scripts/script_home.js"  type="module"></script>
-->
    <script src="scripts/script_home.js"  type="module"></script>

</body>
</html>