<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <!--Fonte Geologica sans-serif-->
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Geologica:wght@100;300;400;500;700;900&display=swap" rel="stylesheet">
    <link href="stylesheets/style.css" type="text/css" rel="stylesheet">
    <link href="stylesheets/styleHome.css" type="text/css" rel="stylesheet">
    <title>Login</title>
</head>
<body>
    
    <div class = "background">
        <h3 class="title">Sign In/Up</h3>
        <div id = "erro-mensagem">
            <p id = "erro-mensagem-text">Username não Inserido</p>
        </div>
        <form>
            <label for="username">Username</label>
            <input id="username" type="text" placeholder="Username">
        
            <label for="password">Password</label>
            <input id="password" type="password" placeholder="Password">
        
            <div id="botoes">
                <button id="sign-in" type="button">Sign In</button>
                <button id="sign-up" type="button">Sign Up</button>
            </div>
        </form>
    </div>

    <script src="scripts/script_home.js"  type="module"></script>
</body>
</html>